.vscode
/webserv
build
*.txt
test
cxxtest
*.pyc
*.tst
.fuse_hidden*
/testRoot
.DS_Store
tests/e2e/webserv/tools/webserv
tests/e2e/webserv/tools/status_pages
tests/e2e/**/results*.json
.github/workflows
*.log
*.log.*
